@import url(./style.css);

.contact{
    text-align: center;

}
.contact>h1{
    color: rgb(71, 89, 54);
    text-shadow: 0.1rem 0.2rem rgb(79, 124, 37);
}
.contact-container{
    background-color: rgb(27, 187, 153);
    padding: 3rem;
    border-radius: 3rem;
    opacity: 95%;
    box-shadow: 0rem 0.1rem 0.1rem rgb(107, 105, 47);
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    /* grid-template-columns: repeat(2.1fr); */
}
.contact-info{
    width: 40%;
    float: left;
}
.contact-form{
    width: 40%;
    float: right;
}
.contact-info h2,.contact-info p{
    color: rgb(9, 91, 2);
    margin: 1rem;
}
.info i,.info span{
    color: rgb(190, 218, 8);
}
.social a{
    color: white;
    background-color: rgb(0, 117, 33);
    width: 2rem;
    height: 2rem;
    display: inline-block;
    border-radius: 50%;
    margin: 1rem;
}
.social a:hover{
    background-color: rgb(107, 111, 41);
}
.contact-form{
    text-align: left;
}
.contact-form label,.contact-form input,.contact-form textarea{
    width: 100%;
    height: 1.5rem;
    padding: 1rem;
    outline: none;
    margin-bottom: 1rem;
}
.contact-form label{
    color: rgb(19, 95, 10);
    font: bold 1.2rem Cursive;
}
.contact-form input,.contact-form textarea{
    border: 0.2rem solid olive;
    border-radius: 0.5rem;
}
.contact-form input,.contact-form textarea:focus{
    border: 0.2rem solid olive;

}
.contact-form input[type="submit"]{
    background-color: cadetblue;
    color: rgb(9, 82, 6);
    font: bold 1rem  Cursive;
    height: fit-content;
    text-align: center;
    line-height: 3-x;
}
.contact-form input[type="submit"]:hover{
    background-color: rgb(54, 119, 27);
}
.map{
    margin: 3rem 15%;
    width: 70%;
    clear: both;/* clear previous floar properties (left/right/both */
}
.map iframe{
    width: 100%;
    height: 30rem;
    border: 0;
    border-radius: 1rem;
}
/* style for mobile devices responsive*/
@media(min-width:320px) and (max-width:767px) {
    .contact-info{
        display: block;
        width: 100%;
        margin-bottom: 2rem;
    }
    .contact-info p{
        width: 100%;
    }
    .info {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 0.8rem;
    }
    .info i,.info span{
        display: inline-block;
        margin-left: 0;
    }
    .social a{
        margin: 0 0.3rem;
    }
    .contact-form{
        width: 100%;
    }
    input[type="submit"]{
        padding: 1rem;
        width: 100%;
    }
    .map, .map iframe{
        margin-left: 0;
        width: 100%;
        height: 15rem; 
        border: 0;  
    }
}
/* style for tablet devices responsive (hesders)*/
@media(min-width:768px) and (max-width:991px){
    .contact-info p{
        width: 100%;
    }
    .info i,.info span{
        display: inline;
        width: 100%;
        margin-left: .2rem;
    }
    .social a{
        margin: 0%;   
    }
    .social{
        padding: 1rem;
    }
}