@import url('https://fonts.googleapis.com/css?family=Kapakana|Story+Script&effect=fire|neon|outline|emboss|shadow-multiple');
@import url(./home.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #f6f2f5;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
}
.current{
    color: #ff8364;
    text-shadow: none;
}
header{
    background: linear-gradient(to bottom right, #100912, #2f1c34, #5c3a5f);
}
.head{
    background: linear-gradient(to bottom left, #20122a, #4f3157, #7b5f7f);
    padding: 2rem;
    text-align: center;
}
.head>img{
    border-radius: 50%;
}
section{
    padding: 2rem;
    background: linear-gradient(to left, #2b1834, #5c3e65);
}

.Skills-section ul li{
    /* list-style-type: none; */
    list-style-image: url(../resources/list_icon.png);
    padding: 1rem;
}
.porfolio-container{
    display: flex;
    gap: 2rem;
    justify-content: space-around;
}
.porfolio-item{
    text-align: center;
    background-color: #1c1220;
}
.porfolio-item img{
    max-width: 100%;
    height: 20rem;
    border: 0.3rem solid rgba(255, 131, 100, 0.32);
    border-radius: 1rem;
}
/*  style for floating objects */
.floating{
    height: 30rem;
    overflow: hidden;
}
.floating span{
    display: block;
    border: 0.1rem solid rgba(255, 131, 100, 0.35);
    border-radius: 50%;
    opacity: .5;
    position: absolute;
    animation: float-object 10s linear infinite;
}

.floating span:nth-child(1){
    width: 5%;
    height: 5rem;
    background-color: #ff8364;
    left: 1%;
    animation-duration: 10s;
}
.floating span:nth-child(2){
    width: 7%;
    height: 7rem;
    background-color: #8f4c72;
    left: 7%;
    animation-duration: 5s;
}
.floating span:nth-child(3){
    width: 9%;
    height: 9rem;
    background-color: #c97a5b;
    left: 15%;
    animation-duration: 10s;
}
.floating span:nth-child(4){
    width: 12%;
    height: 12rem;
    background-color: #6e3d5d;
    left: 30%;
    animation-duration: 7s;
}
.floating span:nth-child(5){
    width: 15%;
    height: 15rem;
    background-color: #e3b692;
    left: 50%;
    animation-duration: 10s;
}
@keyframes float-object {
    0%{
        transform: translateY(110vh) rotate(0deg);
    }
    100%{
        transform: translateY(-13rem) rotate(360deg);
    }
}

footer{
    background: linear-gradient(to right bottom, #120a1b, #411f40);
    height: 7rem;
    text-align: center;
    padding: 3rem 0rem;/* top+bottom left+right */
}
h2{
    font-family: 'Story Script';
}
footer p a{
    font-family: Kapakana;
    font-size: 2rem;
}
/* style for tablet responsive */
@media (max-width: 991px) {
    .floating span:nth-child(1){
        width: 0.1rem; }
    .floating span:nth-child(2){
        width: 3rem; }
    .floating span:nth-child(3){
        width: 4rem; }
    .floating span:nth-child(4){
        width: 5rem; }
    .floating span:nth-child(5){
        width: 6rem; }
}

/* Mobile Device */
@media (max-width: 767px){
    .porfolio-container {
        flex-direction: column;
        align-items: center;
    }
    .porfolio-item {
        width: 80%;
    }
    .floating {
        height: 10rem;
    }
    .floating span:nth-child(1){
        width: 2rem;
        height: 2rem;
        }
    .floating span:nth-child(2){
        width: 4em;
        height: 4rem;
        }
    .floating span:nth-child(3){
        width: 4.5rem;
        height: 4.5rem;
    }
    .floating span:nth-child(4){
        width: 5rem;
        height: 5rem;
    }
    .floating span:nth-child(5){
        width: 7rem;
        height: 7rem;
    }
}